*{
    margin: 0;
    box-sizing: border-box;
}

.index-page{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.index{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 20px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.7);
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 20px rgb(0, 0, 0);
}

.home{
    background-image: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home h1{
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.form{
    margin-top: 3%;
    display: flex;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.8);
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 20px rgb(0, 0, 0);
}

.form input{
    width: 400px;
    height: 50px;
    margin-right: 10px;
    margin-block: 20px;
    font-size: large;
    border-radius: 20px;
    border: none;
    padding: 12px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}

.form-data{
    display: flex;
    flex-direction: row;
}

.form-data label{
    width: 150px;
    height: 50px;
    margin-left: 10px;
    margin-block: 20px;
    align-items: center;
    justify-content: center;
    font-size: large;
    padding: 12px;
    color: #000;
}

.predict{
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.prediction-box{
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -30%);
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 20px rgb(0, 0, 0);
}

.prediction{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin-block: 20px;
}

.prediction h3{
    text-decoration: underline;
}

.btns{
    width: 200px;
    height: 50px;
    font-size: larger;
    font-weight: 500;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    background-color: #fff;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.btns:hover{
    background-color: #000;
    color: #fff;
    transform: scale(1.1);
}