<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>University Admit Eligibility Predictor</title>
</head>
<body class="index-page">
    <div class="index">
        <h1>University Admit Eligibility Predictor</h1>
        <a href="/predict"><button type="button" class="btns">Check Eligibility</button></a>
    </div>    
</body>
</html>