<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>University Admit Eligibility Predictor</title>
</head>
<body class="predict">
    <div class="prediction-box">
        <h1>Predicting Chance of Admission</h1>
        <div class="prediction">
            <span>Prediction: </span>
            <h3 style="font-weight: 600;">You don't have a chance</h3>
        </div>
        <a href="/predict"><button type="button" class="btns">Back</button></a>
    </div>
</body>
</html>